<head>
  <title>geotest</title>
</head>

<body>
  {{> closePlaces}}
</body>
<template name='closePlaces'>
 <ul class='places-list'>
 {{#each closePlaceData}}
   {{> closePlace}}
 {{/each}}
     </ul>
</template>
<template name='closePlace'>
   <div>{{ name }}</div>
</template>
